# ===================================================================
# artellapipe-launcher requirements file
# ===================================================================
Qt.py
pathlib2
requests
packaging
beautifulsoup4
lxml
pytest
pytest-cov
coveralls
sphinx
sphinx_rtd_theme
python-json-logger
sentry-sdk==0.12.2
tpPyUtils
tpQtLib