# ===================================================================
# artellapipe-launcher requirements file
# ===================================================================
Qt.py
pathlib2
requests
packaging
beautifulsoup4
lxml
tpPyUtils
tpQtLib