# ===================================================================
# artellapipe-launcher scripts requirements file
# ===================================================================
PySide;python_version <= '3.4'
PySide2;python_version > '3.4'
Qt.py
PyInstaller
python-json-logger
sentry-sdk==0.12.2
tpPyUtils
tpQtLib
tpDccLib
artellapipe-launcher