# ===================================================================
# artellapipe-launcher requirements file
# ===================================================================
PySide2
pathlib2
requests
lxml
beautifulsoup4
packaging
PyInstaller
appdirs
backports.tempfile
psutil
Qt.py